/* resesto a pagina */
* {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;

}


/* .card-consultar-chamado {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
} */
#cards{
  padding-top: 50px;
  margin: 10px,10px,10px,10px;
  border-radius: 5px;
  border-color: black;
}

.conteudo{
    border-color: black !important;
    background-color: red;
}
#nav-color{
    background-color: rgb(245, 234, 221);
}
.card-login {
    padding: 30px 0 0 0;
    width: 350px;
    margin: 0 auto;
}